<!DOCTYPE html>

<html>

    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <title>ClubArchive</title>
            <style>
                .btn, .btn-outline-secondary {
                        margin-left: 33% ;margin-top: 3%; width : 30%; height: 40px; font-size: 100%; margin-bottom : 2%
                }
                .btn-outline-secondary:hover {
                    background-color: lightgrey
                }
                .form-control, .form-control-lg {
                    width :30%; height : 50%; margin-left : 33%;
                }
                .form-group {
                    width:100%; margin-left: 0%;
                }
                .alert.info {background-color: #2196F3;width:30%}
                .closebtn {
                    color: white;
                    font-weight: bold;
                    float: right;
                    font-size: 22px;
                    line-height: 20px;
                    cursor: pointer;
                    transition: 0.3s;
                } 
            </style>

    </head>


    <!--Figure out the requirements for this before programming-->
    <body>
            <nav class="navbar navbar-expand-sm navbar-light" style = "background-color:#38a8f3 ;">
           
                <a href = "/" style = " margin-left: 45%;"><img src = "../public/img/finalLogo2.png" style="width :100px; height:100px;" ></a>
            
        
            </nav>
            <% if (error != null) {%>
                <div class=" alert alert info" style = "margin-left:33%; margin-top:5%">
                    <span class="closebtn">&times;</span>  
                    <strong>Error : </strong> <%=error  %> 
                </div>
            <% } %>
            <form method="POST" action ="/addclub" enctype="multipart/form-data">
                <input placeholder="Organization Name" type="text" class="form-control form-control-lg" style = "margin-top : 5%" name = "name" required <%if(fields.length != 0){%>value="<%=fields[0]%>"<%}%>>
                
                <input placeholder="Current Or Estimated Membership Count" type="text" class="form-control form-control-lg" style = "margin-top: 2%" name = "memberCount" required <%if(fields.length != 0){%>value="<%=fields[1]%>"<%}%>>

                <input placeholder="Organizer, Admin or President of Organization" type="text" class="form-control form-control-lg" style = "margin-top: 2%" name = "president_organizer" required <%if(fields.length != 0){%>value="<%=fields[2]%>"<%}%>>
                <input placeholder="Organization Email" type="email" class="form-control form-control-lg" style = "margin-top: 2%" name = "email" required <%if(fields.length != 0){%>value="<%=fields[3]%>"<%}%>>
                <input placeholder="Organization Phone Number" type="text" class="form-control form-control-lg" style = "margin-top: 2%" name = "phonenumber" required <%if(fields.length != 0){%>value="<%=fields[4]%>"<%}%>>
                <textarea class="form-control" aria-label="Club Description" style = "margin-top: 2%;" placeholder="Tell us a little about your club! The more information the better!" name = "description" required ><%if(fields.length != 0){%><%=fields[5]%><%}%></textarea>
                
                <textarea class="form-control" aria-label="Meeting Times" style = "margin-top: 2%;" placeholder=
"Monday : 12AM - 12PM
Tuesday : 12AM - 12PM
Wednesday : 12AM - 12PM
Thursday : 12AM - 12PM
Friday : 12AM - 12PM" 
                name = "meeting_times" rows="5" optional><%if(fields.length != 0){%><%=fields[6]%><%}%></textarea>
                <div class="form-group">
                    <label for="exampleSelect1"></label>
                    <select class="form-control" id="exampleSelect1" name = "category" >
                      <option>Academic Organization</option>
                      <option>Greek Organization</option>
                      <option>Sports</option>
                      <option>Interest Groups</option>
                    </select>
                  </div>
                  
                  <div class = "form-group form-inline">
                    <input type = "file" class = "form-control" id = "images" name = "images" value = "images" style = "margin-top:2%;width:400px" alt ="" multiple>
                    <label for="image" style = "margin-top:2%; margin-left: 1%">Add up to 10 cover images for your club's page!</label>
                  </div>
                  <!-- <label for="image" style = "margin-top:2%">Add a cover photo for your club's profile!</label> -->
                <button  type="submit" class="btn btn-outline-secondary" style = "margin-top: 1%;">Sign Up</button>

            </form>
            <script>
                var close = document.getElementsByClassName("closebtn");
                var i;
                
                for (i = 0; i < close.length; i++) {
                  close[i].onclick = function(){
                    var div = this.parentElement;
                    div.style.opacity = "0";
                    setTimeout(function(){ div.style.display = "none"; }, 600);
                  }
                }
            </script>
    </body>
</html>