<!DOCTYPE html>



<html>

    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <link rel="icon" href="../public/img/finalLogo2.png">
        <title>ClubArchive</title>
        <style>
            .btn-outline-secondary:hover {
                background-color: lightgray
            }
            .SmallSignUp {
                color: blue;
                font-size: 100%;
                margin-left : 70%;
            }
            .SmallSignUp:visited {
                color:blue;
            }
            .btn, .btn-outline-secondary {
                margin-left: 33%; margin-top: 3%; width : 30%; height: 5%; font-size: 90vw 90vh;
            }
            .vertical-menu {
                width: 200px; /* Set a width if you like */
            }

            .vertical-menu a {
                background-color: #eee; /* Grey background color */
                color: black; /* Black text color */
                display: block; /* Make the links appear below each other */
                padding: 12px; /* Add some padding */
                text-decoration: none; /* Remove underline from links */
            }

            .vertical-menu a:hover {
                background-color: #ccc; /* Dark grey background on mouse-over */
            }

            .vertical-menu a.active {
                background-color:#38a8f3; /* Add a green color to the "active/current" link */
                color: white;
            }
            
                
        </style>

    </head>


    <body>
        <hr>
        <div >
            
            <div  class = "container">
                <div class = "row">
                    <div class = "col-sm-2">
                        <a href = "/post/<%=club._id%>" style = "text-decoration: none; color: #38a8f3;"><img src = "../public/img/back arrow.png" style = "width: 20px; object-fit: cover; "> Back to Profile</a>
                        <div class="vertical-menu" style = "margin-top: 5%;">
                            <a href="/clubSettings/<%=club._id%>">Club Settings</a>
                            <a href="/clubprofilesettings/<%=club._id%>">Club Profile</a>
                            <a href = "/clubannouncements/<%=club._id%>">Announcements</a>
                            <a href="/clubMarkettingSettings/<%=club._id%>"  class="active">Marketting Settings</a>
                            <a href="/clubAdminApplications/<%=club._id%>">Administrators Applications</a>
                            <a href="/clubMemberApplicationDesign/<%= club._id %>">Design Online Application</a>
                            <a href="/<%=club._id%>/club-applications">Manage Member Application</a>
                            <a href="/<%=club._id%>/manage-members">Manage Current Members</a>
                          </div>
                    </div>
                    <div class = "col-sm-8" style ="margin-right:10%">
                        <form action = "/updatetags/<%=club._id%>" method ="POST" >
                            <h5 style = "margin-left:30%">Enter some keywords to help people find you!</h5>
                            <input placeholder="Tags" type="text" class="form-control form-control-lg"  style = "margin-top: 1%;width :60%; height : 50%; margin-left : 30%; margin-right : 1%" name = "tags" >
                            <!--This is going to be used iteratively once tag back end is written-->
                            <div style = "margin-left: 30%;">
                                <% club.tags.forEach(tag => { %> 

                                            <div class="alert alert-success" style = "background-color: #ccc; margin-top:1%; width:auto; height:40px; min-width: 90px;display: inline-block; margin-left:1%">
                                                <p style ="font-size: 13px; float:left"><%=tag%></p><a href = "/deletetag/<%=club._id%>/<%=tag%>"><img src = "../public/img/xpng.png" style = "width:10px; margin-left:20px;margin-top:-9px"></a>
                                            </div>

                                <% }); %> 
                            </div>
                            
                            <button  type="submit" name = "submit" class="btn btn-outline-secondary"  style = "margin-top: 1%;width :60%; height : 50%; margin-left : 30%; margin-right : 1%" >Add Tags</button>
                        </form>
                    </div>
                </div>
                        

                    <br>
                    <br>
            </div>
        </div>
             





    </body>






</html>