<!DOCTYPE html>



<html>

    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="icon" href="../public/img/finalLogo2.png">
        <title>ClubArchive</title>
        <style>
            .btn-outline-secondary:hover {
                background-color: lightgray
            }
            .SmallSignUp {
                color: blue;
                font-size: 100%;
                margin-left : 70%;
            }
            .SmallSignUp:visited {
                color:blue;
            }
            .btn, .btn-outline-secondary {
                margin-left: 33%; margin-top: 3%; width : 30%; height: 5%; font-size: 90vw 90vh;
            }
            .vertical-menu {
                width: 200px; /* Set a width if you like */
            }

            .vertical-menu a {
                background-color: #eee; /* Grey background color */
                color: black; /* Black text color */
                display: block; /* Make the links appear below each other */
                padding: 12px; /* Add some padding */
                text-decoration: none; /* Remove underline from links */
            }

            .vertical-menu a:hover {
                background-color: #ccc; /* Dark grey background on mouse-over */
            }

            .vertical-menu a.active {
                background-color:#38a8f3; /* Add a green color to the "active/current" link */
                color: white;
            }
            
                
        </style>

    </head>


    <body>

        <div class ="container">
            <div class = "row">
                    <div class ="col-sm-2">
                        <a href = "/"><img src = "../public/img/blueLogo.png" style = "width: 100px; height: 100px; "></a>
                    </div>
                    
                    <div class = "col">
                        <form class="example" action="/search" style="margin:auto" method="GET">
                            <input style ="margin-top:24px" placeholder="Engineering Clubs, Frats, Bagel Club" type="text" class="form-control form-control-lg" name = "search2" >
                        </form>
                            
                    </div>
                    <div class = "col" >
                        <% if (!loggedIn) {%>
                            <button type="button" class="btn btn-outline-dark" style = "font-size:18; float: right; margin-top:24px ; margin-right: 3% ; color:white; background-color: #38a8f3" onclick= "window.location.href = '/signup';">Sign Up</button>
                            <button type="button" class="btn btn-outline-dark signUp"  style = "font-size:18; float : right; margin-top: 24px; margin-right: 3%;" onclick= "window.location.href = '/login';">Log in</button>
                        <% } %> 
                        <% if(loggedIn) { %>
                            <div class="dropdown">
                        
                                <img src = "../image/<%=user.image.filename %>" style = "width: 50px; height: 50px; float:right; margin-right:45px; border-radius: 10%;margin-top:24px;object-fit: cover;" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/userprofile">View Profile</a>
                                    <a class="dropdown-item" href="/usersettings">User Settings</a>
                                    <a class="dropdown-item" href="/userlogout">Logout</a>
                                </div>
                            </div>
    
                        <% } %>
                    </div>
    
            </div>
        </div>
        <hr>
        <div >
            
            <div  class = "container">
                <div class = "row">
                    <div class = "col-sm-2">
                        <div class="vertical-menu">
                            <a href="/clubSettings/<%=club._id%>" class="active">Club Settings</a>
                            <a href="/clubprofilesettings/<%=club._id%>">Club Profile</a>
                            <a href="/clubMarkettingSettings/<%=club._id%>">Marketting Settings</a>
                            <a href="/clubAdminApplications/<%=club._id%>">Administrators Applications</a>
                            <a href="/clubMemberApplicationDesign/<%= club._id %>">Design Online Application</a>
                            <a href="/<%=club._id%>/club-applications">Manage Member Application</a>
                            <a href="/<%=club._id%>/manage-members">Manage Current Members</a>
                          </div>
                    </div>
                    <div class = "col-sm-8"  style ="margin-right:10%">
                        <form action = "/updateclub/<%=club._id%>" method ="POST" enctype = "multipart/form-data">
                            <input placeholder="Organization Name" type="text" class="form-control form-control-lg"  style = "margin-top: 1%;width :60%; height : 50%; margin-left : 33%; margin-right : 1%" name = "name">
                
                            <input placeholder="Current Or Estimated Membership Count" type="text" class="form-control form-control-lg"  style = "margin-top: 1%;width :60%; height : 50%; margin-left : 33%; margin-right : 1%" name = "memberCount">
            
                            <input placeholder="Organizer, Admin or President of Organization" type="text" class="form-control form-control-lg"  style = "margin-top: 1%;width :60%; height : 50%; margin-left : 33%; margin-right : 1%" name = "president_organizer">
                            <input placeholder="Organization Email" type="text" class="form-control form-control-lg" style = "margin-top: 1%;width :60%; height : 50%; margin-left : 33%; margin-right : 1%" name = "email">
                            <input placeholder="Organization Phone Number" type="text" class="form-control form-control-lg"  style = "margin-top: 1%;width :60%; height : 50%; margin-left : 33%; margin-right : 1%"name = "phonenumber">
                            <textarea class="form-control" aria-label="Club Description"  style = "margin-top: 1%;width :60%; height : 50%; margin-left : 33%; margin-right : 1%" placeholder="Tell us a little about your club! The more information the better!" name = "description"></textarea>
                            
                            <textarea class="form-control" aria-label="Meeting Times"  style = "margin-top: 1%;width :60%; height : 50%; margin-left : 33%; margin-right : 1%" placeholder=
            "Monday : 12AM - 12PM
            Tuesday : 12AM - 12PM
            Wednesday : 12AM - 12PM
            Thursday : 12AM - 12PM
            Friday : 12AM - 12PM" 
                            name = "meeting_times" rows="5"></textarea>
                            <div class="form-group">
                                <label for="exampleSelect1"  style = "margin-top: 1%;width :60%; height : 50%; margin-left : 33%; margin-right : 1%"></label>
                                <select class="form-control" id="exampleSelect1" name = "category" style = "margin-top: 1%;width :60%; height : 50%; margin-left : 33%; margin-right : 1%"> 
                                  <option>Academic Organization</option>
                                  <option>Greek Organization</option>
                                  <option>Sports</option>
                                  <option>Interest Groups</option>
                                </select>
                            </div>
                            <div class = "form-group form-inline" style = "margin-left:33%">
                                <input type = "file" class = "form-control" id = "image" name = "image" value = "image"  style = "margin-top:2%;width:90%;height:50px" alt ="">
                                <label for="image" style = "margin-top:2%;margin-left:2%">Add or change your cover photo for your club's profile!</label>
                            </div>
                            <input placeholder="Registration Season (i.e. Fall)" type="text" class="form-control form-control-lg" style = "margin-top: 1%;width :60%; height : 50%; margin-left : 33%; margin-right : 1%" name = "registration_season">
                            <button  type="submit" name = "submit" class="btn btn-outline-secondary"  style = "margin-top: 1%;width :60%; height : 50%; margin-left : 33%; margin-right : 1%" >Update</button>
                            
                        </form>
                    </div>
                </div>
                    

                    <br>
                    <br>
            </div>
        </div>
             





    </body>






</html>