<!DOCTYPE html>



<html>

    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="icon" href="../public/img/finalLogo2.png">
        <title>ClubArchive</title>
        <style>
            .btn-outline-secondary:hover {
                background-color: lightgray
            }
            .SmallSignUp {
                color: blue;
                font-size: 100%;
                margin-left : 70%;
            }
            .SmallSignUp:visited {
                color:blue;
            }
            .vertical-menu {
                width: 200px; /* Set a width if you like */
            }

            .vertical-menu a {
                background-color: #eee; /* Grey background color */
                color: black; /* Black text color */
                display: block; /* Make the links appear below each other */
                padding: 12px; /* Add some padding */
                text-decoration: none; /* Remove underline from links */
            }

            .vertical-menu a:hover {
                background-color: #ccc; /* Dark grey background on mouse-over */
            }

            .vertical-menu a.active {
                background-color:#38a8f3; /* Add a green color to the "active/current" link */
                color: white;
            }
        </style>

    </head>


    <body>
        <hr>
        <div  class = "container">
            <div class = "row">
                
                <div class = "col-sm-3">
                    <a href = "/post/<%=club._id%>" style = "text-decoration: none; color: #38a8f3;"><img src = "../public/img/back arrow.png" style = "width: 20px; object-fit: cover; "> Back to Profile</a>
                    <div class="vertical-menu" style = "margin-top: 5%;">
                        <a href="/clubSettings/<%=club._id%>">Club Settings</a>
                        <a href="/clubprofilesettings/<%=club._id%>"  >Club Profile</a>
                        <a href="/clubMarkettingSettings/<%=club._id%>">Marketting Settings</a>
                        <a href="/clubAdminApplications/<%=club._id%>">Administrators Applications</a>
                        <a href="/clubMemberApplicationDesign/<%= club._id %>" class="active">Design Online Application</a>
                        <a href="/<%=club._id%>/club-applications">Manage Member Application</a>
                        <a href="/<%=club._id%>/manage-members">Manage Current Members</a>
                      </div>
                </div>
                <div class = "col-sm-8" style ="margin-right:5%">
                    <h2 class="text-center">Create Custom Application</h2>
        
                    <form action = "/addapplication/<%=club._id%>" method ="POST" class="form-control form-control-lg">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="allowApplication" name="allowApplication" <%if(club.onlineApplication.allow){%> checked <%}%> >
                            <label class="form-check-label" for="allowApplication">Allow Online Application: </label>
                        </div>
                        <br><br>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="fullnameCheckbox" name="fullname" checked >
                            <label class="form-check-label" for="fullnameCheckbox">Require Fullname</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="emailCheckbox" name="email" <%if(club.onlineApplication.email){%> checked <%}%> >
                            <label class="form-check-label" for="emailCheckbox">Require Email</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="rankCheckbox" name="classRank" <%if(club.onlineApplication.rank){%> checked <%}%> >
                            <label class="form-check-label" for="rankCheckbox">Require Graduation Year</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="majorCheckbox" name="major" <%if(club.onlineApplication.major){%> checked <%}%> >
                            <label class="form-check-label" for="majorCheckbox">Require Major</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="fullnameCheckbox" name="resume" <%if(club.onlineApplication.resume){%> checked <%}%> >
                            <label class="form-check-label" for="fullnameCheckbox">Require Resume</label>
                        </div>
                        <center>
                            <div class="form-group">
                                <input type="text" placeholder="<%=club.onlineApplication.custom1 || 'Custom Question #1' %>"  name = "custom1" style = "margin-top: 5%; margin-left: -5%;" class="form-control form-control-lg" value="<%=club.onlineApplication.custom1%>">
                            </div>
                        </center>
                        <center>
                            <div class="form-group">
                                <input type="text" placeholder="<%=club.onlineApplication.custom2 || 'Custom Question #2' %>" name = "custom2" style = "margin-top: 5% ; margin-left: -5%;" class="form-control form-control-lg" value="<%=club.onlineApplication.custom2%>">
                            </div>
                        </center>
                        <center>
                            <div class="form-group">
                                <input type="text" placeholder="<%=club.onlineApplication.custom3 || 'Custom Question #3' %>" name = "custom3" style = "margin-top: 5% ; margin-left: -5%;" class="form-control form-control-lg" value="<%=club.onlineApplication.custom3%>">
                            </div>
                        </center>
                        <br>
                        <center>
                            <button  type="submit" name="submit" class="btn btn-outline-secondary" style = "margin-top: 1%;width :60%; height : 130%;  margin-right : 1%" >Save Application</button>
                        </center>
                    </form>
                        

                    <script>
                        var close = document.getElementsByClassName("closebtn");
                        var i;
                        
                        for (i = 0; i < close.length; i++) {
                            close[i].onclick = function(){
                                var div = this.parentElement;
                                div.style.opacity = "0";
                                setTimeout(function(){ div.style.display = "none"; }, 600);
                            }
                        }
                    </script>
                </div>
            </div>
        </div> 

        
        



    </body>






</html>