<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<hr>

<div class="container">
    <div class="row">
        <div class="col">
            <a href = "/userprofile" style = "text-decoration: none; color: #38a8f3;"><img src = "../public/img/back arrow.png" style = "width: 20px; object-fit: cover; "> Back to Profile</a>
            <br>
            <br>
            <a href = "/markallread" style = "color: #38a8f3;">Mark All as Read</a>
            <%var  i = 0 %> 
            <% var read = 0%>
            
            <% user.inbox.forEach(item => { %>
            <% if(item.status == "read") { read = 1}%>
                <div class="card" style = "margin-top:3%" id="accordion<%=i%>" onclick="markRead(event, <%=i%>, <%= read%>)">
                    <a class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%=i%>" aria-expanded="true" aria-controls="collapse<%=i%>"></button>
                        <div class="card-header" id="heading<%=i%>" style = "width:100%;">
                                <p style ="float:right; margin-right:0%; color:rgb(160, 153, 153);margin-top:-.5%"><%= item.date %><br><%= item.time%></p>
                                <% if (item.status != "read") { %>
                                    <h4 style = "float:left; font-weight: 600; font-size: 25px" id = "fromLine<%=i%>">From: <%=item.club%></h4>
                                    <p style = "font-weight: 600; font-size: 25px" id = "subjectLine<%=i%>"><%= item.subject%><p>
                                <% } else { %>
                                    <h4 style = "float:left; font-weight: normal; font-size: 25px" id = "fromLine<%=i%>">From: <%=item.club%></h4>
                                    <p style = "font-weight: normal; font-size: 25px" id = "subjectLine<%=i%>"><%= item.subject%><p>
                                <% } %>
                        </div>
                    </a>   
                    <div id="collapse<%=i%>" class="collapse" aria-labelledby="heading<%=i%>" data-parent="#accordion<%=i%>" style = "margin-top:-1%">
                        <div class="card-body">
                            <a href = "/removeinboxitem/<%=i%>"><img src = "../public/img/trash.png" style = "width:20px"></a>
                            <h6 style = "margin-right:2%; margin-top:2%">Message: <%=item.body%></h6>
                        </div>
                    </div>
                </div>
                <% i++ %>
            
            <% }) %>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            var isExecuted = []
            function markRead(event, i, status) {
                if(status == 0 && !isExecuted.includes(i)) {
                    isExecuted.push(i)
                    document.getElementById('fromLine' + i).style.fontWeight = "normal"
                    document.getElementById('subjectLine' + i).style.fontWeight = "normal"
                    const url = `/markRead/${i}`
                    event.preventDefault()
                    $.ajax({
                        global:false,
                        type:'POST',
                        url: url,
                        dataType:'html',
                        data: {},
                        success : function (result) {
                            console.log(result);
                        },
                        error: function (request, status, error) {
                            console.log(error)
                            Response.redirect('/notificationsPage')
                        }
                    })
                }
                
            }
        </script>
    </div>
        
</div>