<!DOCTYPE html>



<html>

    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="icon" href="../public/img/finalLogo2.png">
        <title>ClubArchive</title>
        <style>
            .btn-outline-secondary:hover {
                background-color: lightgray
            }
            .SmallSignUp {
                color: blue;
                font-size: 100%;
                margin-left : 70%;
            }
            .SmallSignUp:visited {
                color:blue;
            }
            
            .vertical-menu {
                width: 200px; /* Set a width if you like */
            }

            .vertical-menu a {
                background-color: #eee; /* Grey background color */
                color: black; /* Black text color */
                display: block; /* Make the links appear below each other */
                padding: 12px; /* Add some padding */
                text-decoration: none; /* Remove underline from links */
            }

            .vertical-menu a:hover {
                background-color: #ccc; /* Dark grey background on mouse-over */
            }

            .vertical-menu a.active {
                background-color:#38a8f3; /* Add a green color to the "active/current" link */
                color: white;
            }
            
                
        </style>

    </head>


    <body>
        <hr>

            
            <br>
            <div class="d-flex justify-content-center">
                <ul>
                    <h2 style="text-align: center; margin-bottom: 3%;"><%=user_applied.firstName%>'s Application</h2>
                    <% if(application.fullname){ %>
                        <li class="list-group-item">Fullname: <%=application.fullname%> </li>
                    <% } %>  
                    <% if(application.email){ %>
                        <li class="list-group-item">Email: <%=application.email%> </li>
                    <% } %> 
                    <% if(application.rank){ %>
                        <li class="list-group-item">Graduation Year: <%=application.rank%> </li>
                    <% } %> 
                    <% if(application.major){ %>
                        <li class="list-group-item">Major: <%=application.major%> </li>
                    <% } %>
                    <% if (application.resume) { %>
                        <li class = "list-group-item"> Resume: <a href = "/resume/<%=application.resume %>" target="_blank"><%= application.fullname%>'s resume </a></li>
                    <% } %> 
                    <% if(application.custom1.question){ %>
                        <li class="list-group-item"><%=application.custom1.question%>: <%=application.custom1.answer%> </li>
                    <% } %> 
                    <% if(application.custom2.question){ %>
                        <li class="list-group-item"><%=application.custom2.question%>: <%=application.custom2.answer%> </li>
                    <% } %> 
                    <% if(application.custom3.question){ %>
                        <li class="list-group-item"><%=application.custom3.question%>: <%=application.custom3.answer%> </li>
                    <% } %>
                    <br>

          
                    <div class="btn-group d-flex justify-content-center mx-auto" style="width: 50%" role="group" >
                        <form method="POST" action ="/<%=club._id%>/club-applications/<%=application.userId%>">
                            <button type="submit" name="approve" value="approve" class="btn btn-outline-success" style = "width:80%;">Approve</button>
                            <button type="submit" name="deny" value="deny" class="btn btn-outline-danger" style = "width:80%;  margin-top:2% ">Deny</button>
                            
                        </form>
                    </div>
                    <br>
            
                    <div class="btn-group d-flex justify-content-center mx-auto" style="width: 50%" role="group" >
                        <form method="GET" action ="/<%=club._id%>/club-applications">
                            <button type="submit" class="btn btn-outline-secondary" style = "width:170%;  margin-top:2%; margin-left:-30px ">Cancel</button>
                        </form>
                    </div>
             
                </ul>
            </div>

            
            

            

    </body>
</html>