<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .backsplash {
            height: 300px;
            background-image: linear-gradient(to top right, #00a8f3, rgb(10, 74, 117));
            margin-top: 0%;
        }
    </style>
</head>
<body>
    <div class = "backsplash">
    </div>
    <div style = "width: 100%; margin-top: -120px;" >
        <% if(user.image.id != "0") {%> 
            <img src = "image/<%=user.image.filename %>"  class = "profileImage" style = "object-fit: cover;">
        <% }  else { %>
            <img src = "../public/img/defaultProfileImage.png"  class = "profileImage" style = "object-fit: cover;">
        <% } %>
    </div>
            
            
    
    <div style = "margin-top:1%" class = "container">
        <div class = "row">
            <div class = "col">
                <h3 style = "text-align: center;"> <%=user.firstName%> <%= user.lastName %> </h3>
            </div>
        </div>
    </div>
    <div style = "margin-top:2%; margin-left:18%;" class = "container">
        <div class = "row">
            <div class = "col-sm-3">
                <h5 style = "text-align: center;">About <%= user.firstName %> 
                    <a href = "/usersettings"><img src = "../public/img/settings icon.png" style = "width: 22px;"></a>
                    <% if(user.firstName == "Arvind" && user.lastName =="Venkatesan") { %>
                        <a href = "/clubarchiveadmin"><img src = "../Images/blueLogo.png" style ="width: 25px;"></a>
                    <% } %>  
                </h5>
                <hr style = "width: 40%;">
                
                <h6 style = "text-align: center;">University : Texas A&M University</h6>
                <h6 style = "text-align: center;">Graduation Year : <%=user.gradYear %></h6>
                <h6 style = "text-align: center;">Major : <%= user.major %></h6>
                <% if (user.minor != "") { %>
                    <h6 style = "text-align: center;">Minor : <%= user.minor %></h6>
                <% } %>
                
                <br>
                <h5 style = "text-align: center;"><%= user.firstName %>'s Clubs</h5>
                <hr style = "width: 40%;">
                <% if(user.clubs.length != 0) { %> 
                    <% i = 0 %> 
                    <% user.clubs.forEach(uClub =>{ %> 
                        <a href = "/post/<%=uClub%>">
                            <h6 style = "text-align: center;"> <%= clubNames[i] %></h6>
                            <% i += 1 %> 
                        </a>
                    <% }); %> 
                <% }else{ %>
                    <h6 style = "text-align: center;">You don't own any clubs!</h6>
                <% } %>
                

                <br>
                <h5 style = "text-align: center;">Pending Applications</h5>
                <hr style = "width: 40%;">
                <%user.pending_applications.forEach(user_app => { %>
                    <% if(user_app.type == "member"){ %> 
                        <h6 style = "text-align: center;"><%=user_app.name%> Member :      <%=user_app.status%> <a href = "/deleteapplication/<%=user_app.clubId%>"><img src = "../public/img/xpng.png" style = "width: 10px; margin-left: 2%;margin-top: -2px;"></a></h6>
                    <% }else{ %> 
                        <h6 style = "text-align: center;"><%=user_app.name%> Admin :      <%=user_app.status%> <a href = "/deleteapplication/<%=user_app.clubId%>"><img src = "../public/img/xpng.png" style = "width: 10px; margin-left: 2%;margin-top: -2px;"></a></h6>
                    <% } %> 
                <%})%>

                
            </div>
            <div class = "vl">

            </div>
            <div class = "col" style = " height:50%; overflow-y: auto;">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#notifications" role="tab" aria-controls="profile" aria-selected="false">Notifications</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" id="home-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="home" aria-selected="true">Activity</a>
                    </li>
                    
                </ul>
                <div class = "tab-content" id = "myTabContent" style = "margin-top:3%" role = "tabpanel">
                    <div class="tab-pane fade" id = "activity">
                        <h2 style = "color:#00a8f3; text-emphasis: bold; margin-left: 1%;">Activity</h2>
                        <hr style = "width:10%; margin-left:1%">
                        <h5 >Recently Viewed   <a href = "/deleteSearchHistory" style = "margin-left: 1%; font-size: small;">Clear</a></h5>
                        <% if (clubs != null && clubs.length != 0) {%> 
                        <% clubs.forEach(club => { %> 
                        
                        <div>
                            <hr>
                            <a href = "/post/<%=club._id%>" style = "color:black"><h4 style = "font-weight:bold"><%=club.name %></h4></a>
                            <h6>Texas A&M University</h6>
                            <p>
                                <%=club.description %>
                            </p>
                        </div>
                        <% }); %> 
                        <% } else {%>
                            
                        <h4>None! Search The Archive!</h4> 
                        <% } %>
                    </div>
                    <div class = "tab-pane fade  show active" id = "notifications" role = "tabpanel">
                        <h2 style = "color:#00a8f3; text-emphasis: bold; margin-left: 1%; ">Notifications <a href = "/notificationsPage" style = "margin-left: 1%; font-size: small;">View all</a></h2>
                        <hr style = "width:10%; margin-left:0%; margin-left:1%">
                        <% for (var i = 0; i < user.inbox.length; i++) { %>
                            <% if(i==4){break;} %>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <h4><%=user.inbox[i].subject%></h4>
                                    </div>
                                    <div class="col">
                                        <p style = "font-size: small;"><%=user.inbox[i].date%></p>
                                        <p style = "font-size: small; margin-top:-4%"><%=user.inbox[i].time%></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6><%=user.inbox[i].body%></h6>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        <% } %>
                        <% if(user.inbox.length == 0) { %> 
                            <h4>None right now! Check back Later!</h4>
                        <% } %> 
                    </div>
                </div>
                    
                
            </div>
            

        </div>
        <div class="col-sm-4" style = "height:max-content;overflow-y: auto;">
            
        </div> 
        <br>
        <br>
    </div>


</body>
    


</html>