<html>


    <head>
            <meta charset="utf-8">
            <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <link rel="icon" href="../public/img/finalLogo2.png">
            <title>ClubArchive</title>
            <style>
                a:visited{
                    color: black;
                }
                a:hover {
                    text-decoration : none;
                    color: black;
                }
                a{
                    color:black
                }
                .link {
                    color:#00a8f3
                }
                .link:hover {
                    text-decoration: underline;
                    color:#025880
                }
                .link:visited {
                    color:#00a8f3
                }
                .btn-outline-secondary:hover {
                    background-color: #41bbac
                }

                .btn-outline-dark {
                    width:15%;
                    height: 45%;
                    color:black;
                }
                .btn-outline-dark:hover {
                    background-color: lightgray
                }
            </style>



    </head>
    

    <body>
        <hr style = "margin-top: 0%">
        

        
        <!-- Search Cards-->
        <div class = "container" style  = "margin-left: 15%;">
            <div class="row">
                
                <div class="col-sm-3" >
                    <form action="/search" method="GET" style = "margin-top: 20%;">
                        <input type="text" name="search2" hidden value="<%=query%>">
                        <input type="text" name="filter" hidden value="<%=filter%>">
                        <select name="sort" class="custom-select" onchange="this.form.submit()">
                            <option <%if(!sort || sort==""){%>selected<%}%> value="">Sort by:</option>
                            <option <%if(sort=="overall"){%>selected<%}%> value="overall">Highest Overall Rating</option>
                            <option <%if(sort=="member"){%>selected<%}%> value="member">Highest Member Rating</option>
                            <!-- <option  value="popular">Popular</option> -->
                            <option <%if(sort=="approved"){%>selected<%}%> value="approved">Club Archived Approved</option>
                        </select>
                    </form>
                    <form action="/search" method="GET" style = "margin-top: 10%;">
                        <input type="text" name="search2" hidden value="<%=query%>">
                        <input type="text" name="sort" hidden value="<%=sort%>">
                        <select name="filter" class="custom-select" onchange="this.form.submit()">
                            <option <%if(!filter || filter==""){%>selected<%}%> value="">Filter by:</option>
                            <option <%if(filter=="academic"){%>selected<%}%> value="academic">Academic</option>
                            <option <%if(filter=="greek"){%>selected<%}%> value="greek">Greek Life</option>
                            <option <%if(filter=="sports"){%>selected<%}%> value="sports">Sports</option>
                            <option <%if(filter=="special"){%>selected<%}%> value="special">Special Interests</option>
                        </select>
                    </form>
                    
                    <% if (popularTags.length > 0) { %>
                        <h6 style = "margin-top:8%; text-decoration: underline;">Search Recommended Tags</h6>
                        <% var i = 0 %> 
                        <% popularTags.forEach(tag => { %>
                            <a href = "#" class = "link" onclick = "submitForm(<%=i%>)"><%= tag.name.charAt(0).toUpperCase() + tag.name.slice(1)%></a>
                            <form action="/search" method="GET">
                                <input type = "text" name = "search2" hidden value = "<%= tag.name.charAt(0).toUpperCase() + tag.name.slice(1)%>">
                                <button type="submit" id = "submit<%=i%>" hidden ></button>
                            </form>
                            <% i++ %> 
                        <% }) %>
                        <script type = "text/javascript">
                            function submitForm(i) {
                                document.getElementById("submit" + i).click()
                            }
                        </script>
                    <% } %> 
                    
                </div>
                <div class="col">
                    
            
                    
                    <% if (query !== null && query !== '')  { %> 
                        <h4>"<%= query %>"  at Texas A&M University</h4>
                    <% } else {%>
                        <h4>Clubs at Texas A&M University</h4>
                    <% } %> 
                    <% clubs.forEach(club => { %>
                        
                            <div class = "row" style = "margin-top:3%">
                                <div class = "col">
                                    <a href = "/post/<%=club._id%>">
                                        <div class="card" style="width: 30rem; margin-left: 0%">
                                        
                                            <div class="card-body">
                                            <h5 class="card-title"><%= club.name %><% if(club.club_archive_approved){ %><img src = "../public/img/GoldLogo.png" style = "width: 40px;"> <%}%></h5>
                                            <p class="card-text"><%= club.description %> </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        
                        
                    <% }); %> 
                </div>
                <div class="col">

                    <h6 style = "text-decoration: underline; margin-left:10%">Recent Views</h6>
                    <% if (user != null &&user.recent_search.length > 1) { %>
                        <% user.recent_search.forEach(club => { %>
                            <div class="row">
                                <div class="col">
                                    <h7 style = "margin-left:10%"><a href = "/post/<%=club.id%>" class = "link"><%=club.name%></a></h7>
                                </div>
                            </div>
                            
                        <% }) %> 
                    <% } else {%>
                        <h7 style = "text-decoration: underline; margin-left:10%">None</h7>
                    <% } %> 
                </div>
                
                <script>
                    $(document).ready(function() {
            // executes when HTML-Document is loaded and DOM is ready
                        console.log("document is ready");
                        
        
                        $( ".card" ).hover(
                        function() {
                            $(this).addClass('shadow-lg').css('cursor', 'pointer'); 
                        }, function() {
                            $(this).removeClass('shadow-lg');
                        }
                        );
                    
                    // document ready  
                    });
                </script>
            </div>
        </div>
            




        
    







    </body>


</html>