<html>

    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>ClubArchive</title>
        <style>
            .btn-outline-secondary:hover {
                background-color: lightgray
            }
            .SmallSignUp {
                color: blue;
                font-size: 100%;
                margin-left : 70%;
            }
            .SmallSignUp:visited {
                color:blue;
            }
            .btn, .btn-outline-secondary {
                margin-left: 33%; margin-top: 3%; width : 30%; height: 5%; font-size: 90vw 90vh;
            }
            .vertical-menu {
                width: 200px; /* Set a width if you like */
            }

            .vertical-menu a {
                background-color: #eee; /* Grey background color */
                color: black; /* Black text color */
                display: block; /* Make the links appear below each other */
                padding: 12px; /* Add some padding */
                text-decoration: none; /* Remove underline from links */
            }

            .vertical-menu a:hover {
                background-color: #ccc; /* Dark grey background on mouse-over */
            }

            .vertical-menu a.active {
                background-color:#38a8f3; /* Add a green color to the "active/current" link */
                color: white;
            }
            /* The switch - the box around the slider */
            .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            }

            /* Hide default HTML checkbox */
            .switch input {
            opacity: 0;
            width: 0;
            height: 0;
            }

            /* The slider */
            .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            }

            .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            }

            input:checked + .slider {
            background-color: #2196F3;
            }

            input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
            }

            input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
            border-radius: 34px;
            }

            .slider.round:before {
            border-radius: 50%;
            }
            .card:hover {
            transform: scale(1.05)
            }
            .card {
                margin-top: 15px;
                transition: transform .2s
            }
            .subjectUpdateArea {
                display:none
            }
            .bodyUpdateArea {
                display:none
            }
            .updateButton {
                display:none
            }
            .hide {
                display: none;
            }
                        
                            
        </style>

    </head>


<body>
    <hr>
        <div >
            
            <div  class = "container">
                <div class = "row">
                    <div class = "col-sm-2">
                        <a href = "/post/<%=club._id%>" style = "text-decoration: none; color: #38a8f3;"><img src = "../public/img/back arrow.png" style = "width: 20px; object-fit: cover; "> Back to Profile</a>
                        <div class="vertical-menu" style="margin-top: 5%;">
                            
                            <a href="/clubSettings/<%=club._id%>">Club Settings</a>
                            <a href="/clubprofilesettings/<%=club._id%>">Club Profile</a>
                            <a href = "/clubannouncements/<%=club._id%>">Announcements</a>
                            <a href="/clubMarkettingSettings/<%=club._id%>">Marketting Settings</a>
                            <a href="/clubAdminApplications/<%=club._id%>">Administrators Applications</a>
                            <a href="/clubMemberApplicationDesign/<%= club._id %>">Design Online Application</a>
                            <a href="/<%=club._id%>/club-applications">Manage Member Application</a>
                            <a href="/<%=club._id%>/manage-members">Manage Current Members</a>
                            <a href="/club_settings_history/<%=club._id%>" class="active">Club Settings History</a>
                            <!-- <a href="/<%=club._id%>/invitemembers">Invite New Members</a> -->
                        </div>
                    </div>
                    <div class = "col-sm-8" style = "margin-left:10%">
                        <h4 style = "text-align: center; margin-bottom: 3%;">Recent Changes to <%=club.name%> <a style = "font-size: small;" href = "/clearClubSettingsHistory/<%=club._id%> ">Clear</a></h4>
                        <% club.settings_history.forEach(hist => { %>
                            <h6 style = "text-align: center;"><%= hist.User%> <%=hist.Type%> on <%=hist.Date%> at <%=hist.Time%></h6>
                        <%});%>
                    </div>
                </div>
            </div>
</body>