<!DOCTYPE html>



<html>

    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <link rel="icon" href="../public/img/finalLogo2.png">
        <title>ClubArchive</title>
        <style>
            .btn-outline-secondary:hover {
                background-color: lightgray
            }
            .SmallSignUp {
                color: blue;
                font-size: 100%;
                margin-left : 70%;
            }
            .SmallSignUp:visited {
                color:blue;
            }
            .btn, .btn-outline-secondary {
                margin-left: 33%; margin-top: 3%; width : 30%; height: 5%; font-size: 90vw 90vh;
            }
            .vertical-menu {
                width: 200px; /* Set a width if you like */
            }

            .vertical-menu a {
                background-color: #eee; /* Grey background color */
                color: black; /* Black text color */
                display: block; /* Make the links appear below each other */
                padding: 12px; /* Add some padding */
                text-decoration: none; /* Remove underline from links */
            }

            .vertical-menu a:hover {
                background-color: #ccc; /* Dark grey background on mouse-over */
            }

            .vertical-menu a.active {
                background-color:#38a8f3; /* Add a green color to the "active/current" link */
                color: white;
            }
            
                
        </style>

    </head>


    <body>
        <hr>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                            <a href = "/post/<%=club._id%>" style = "text-decoration: none; color: #38a8f3;"><img src = "../public/img/back arrow.png" style = "width: 20px; object-fit: cover; "> Back to Profile</a>
                        <div class="vertical-menu">
                            <a href="/clubSettings/<%=club._id%>" >Club Settings</a>
                            <a href="/clubprofilesettings/<%=club._id%>">Club Profile</a>
                            <a href = "/clubannouncements/<%=club._id%>">Announcements</a>
                            <a href="/clubMarkettingSettings/<%=club._id%>">Marketting Settings</a>
                            <a href="/clubAdminApplications/<%=club._id%>">Administrators Applications</a>
                            <a href="/clubMemberApplicationDesign/<%= club._id %>">Design Online Application</a>
                            <a href="/<%=club._id%>/club-applications">Manage Member Application</a>
                            <a href="/<%=club._id%>/manage-members">Manage Current Members</a>
                            <a href="/club_settings_history/<%=club._id%>">Club Settings History</a>
                            <a href="/<%=club._id%>/invitemembers" class="active">Invite New Members</a>
                        </div>
                    </div>
                    <div class="col-sm-8" style = "margin-left:10%">
                        <form action = "/<%=club._id%>/invitemembers" method ="POST" class="w-100" id="form1">
                            <h4>Enter Emails of Users you would like to invite to <%=club.name%> </h5>
                            <div class="d-flex justify-content-center mr-1">
                                <div class="w-75 display-none"><div></div></div>
                                <div class="w-25">
                                    <div style = "margin-left: -28%;">
                                        <div style = "float: left; margin-right:10%" >Member</div>
                                        <div>Admin</div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <input type="number" hidden id="inputNumber">
                            <div class="d-flex justify-content-center mb-1" id="1">
                                <input type="email" class="form-control form-control-lg" name="email1" style = "width:60%" placeholder="Enter Email" required>
                                <div class="w-25 d-flex align-items-center">
                                    <div class="w-75 d-flex align-items-center justify-content-center">
                                        <div class="form-check m-auto mr-3" >
                                            <input class="form-check-input position-static" type="radio" name="position1" value="member" checked>
                                        </div>
                                        <div class="form-check m-auto ml-3">
                                            <input class="form-check-input position-static" type="radio" name="position1" value="admin" >
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <%for(let i=2; i<151; i++){%>
                                <div class="d-flex justify-content-center mb-1" id="1">
                                    <input style="display: none; width: 60%;" id=<%="email"+String(i)%> type="email" class="form-control form-control-lg" name=<%="email"+i%> placeholder="Enter Email" >
                                    <div class="w-25 d-flex align-items-center">
                                        <div class="w-75 d-flex align-items-center justify-content-center">
                                            <div class="form-check m-auto mr-3">
                                                <input style="display: none;" id=<%="positionA"+i%> class="form-check-input position-static" type="radio" name=<%="position"+i%> value="member" checked>
                                            </div>
                                            <div class="form-check m-auto ml-3">
                                                <input style="display: none;" id=<%="positionB"+i%> class="form-check-input position-static" type="radio" name=<%="position"+i%> value="admin">
                                            </div>
                                        </div>
                                        
                                        <button style="display: none" id=<%="delete"+i%> type="button" class="w-25 h-100 btn btn-outline-secondary m-0" onclick="deleteInput(this);">x</button>
                                    </div>
                                </div>
                            <%}%> 
                            <div class="d-flex align-items-start">
                                <button type="button" onclick="newInput(this);" class="btn btn-outline-secondary m-0">+</button>
                            </div>

                            <div class="w-100 d-flex">
                                <button  type="submit" value="submit" name="submit" class="btn btn-outline-primary" >Invite Users!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                        
    </body>

    <script type="text/javascript">
        function newInput(that) {
            let count = document.getElementById("inputNumber").value
            if(!count){count=1}
            count = String(Number(count)+1)
            emailID = "email"+count
            radioID_A = "positionA"+count
            radioID_B = "positionB"+count
            deleteID = "delete"+count

            document.getElementById('inputNumber').value = count
            document.getElementById(emailID).style.display = "block"
            document.getElementById(emailID).required = true
            document.getElementById(radioID_A).style.display = "block"
            document.getElementById(radioID_B).style.display = "block"
            document.getElementById(deleteID).style.display = "block"
        }

        function deleteInput(that){
            let count = document.getElementById("inputNumber").value
            emailID = "email"+count
            radioID_A = "positionA"+count
            radioID_B = "positionB"+count
            deleteID = "delete"+count
            count = String(Number(count)-1)

            document.getElementById('inputNumber').value = count
            document.getElementById(emailID).style.display = "none"
            document.getElementById(emailID).required = false
            document.getElementById(radioID_A).style.display = "none"
            document.getElementById(radioID_B).style.display = "none"
            document.getElementById(deleteID).style.display = "none"
        }
    </script>
</html>